/* karla-regular - latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/karla-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/karla-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* karla-800 - latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('./fonts/karla-v22-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/karla-v22-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/inter-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/inter-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-800 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('./fonts/inter-v11-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/inter-v11-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



body {
  margin: 0;
  background-color: #F5F7FB;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  display: grid;
  place-content: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Karla', sans-serif;
}

h1 {
  font-size: 32px;
  color: #293264;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.blueBlob {
  position: absolute;
  left: 0;
  bottom: 0;
}

.yellowBlob {
  position: absolute;
  right: 0;
  top: 0;
}

.start-screen {
  text-align: center;
}

.button-start {
  border: none;
  background-color: #4D5B9E;
  color: #F5F7FB;
  width: 180px;
  height: 55px;
  border-radius: 15px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  margin-top: 20px;
  cursor: pointer;
}
