/* karla-regular - latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/karla-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/karla-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* karla-800 - latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('./fonts/karla-v22-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/karla-v22-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./fonts/inter-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/inter-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-800 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: local(''),
       url('./fonts/inter-v11-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./fonts/inter-v11-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



body {
  margin: 0;
  background-color: #F5F7FB;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
  margin: 0 auto;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

@media screen and (max-width: 480px) {
  body {
    display: flex;
    align-items: flex-start;
  }
}

.App {
  max-width: 600px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Karla', sans-serif;
  color: #293264;
}

h1 {
  font-size: 32px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.blueBlob {
  position: fixed;
  left: 0;
  bottom: -5px;
  z-index: -1;
}

.yellowBlob {
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.start-screen {
  text-align: center;
}


button {
  border: none;
  background-color: #4D5B9E;
  color: #F5F7FB;
  width: 180px;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
}

button:disabled {
  opacity: 0.4;
}

.button-start {
  font-size: 16px;
  height: 55px;
}

.difficulty-section {
  margin-bottom: 20px;
}

.button-check {
  font-size: 12px;
  height: 35px;
  font-weight: bold;
}

.question-submit {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

label {
  display: inline-block;
  font-size: 10px;
  padding: 5px 20px;
  border: 1px solid #4D5B9E;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

input[type="radio"] {
  display: none;
}

.difficulty-section > input:checked + label,
.question > input:checked + label {
  background-color: #D6DBF5;
  border: 1px solid #D6DBF5;
}


.question-check > input:checked + label {
  background-color: #F8BCBC;
  border: 1px solid #F8BCBC;
}



